

nav {
    background-color: transparent;
    padding: 15px;
    width: 80%;
    margin: 0 10%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.top {
    background: white;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.logo {
    font-size: 30px;
}

.signup-button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}