

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.text-white{
    color: white;
}

.text-big{
    font-size: 50px;
}

.text {
    display: flex;
    align-items: center;
    max-width: 600px;

}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.tile {
    border-radius: 25px;
    height: 15vw;
    width: 20%;
    max-width: 25vw;
    background: linear-gradient(320deg, blue, lightblue);
    display: grid;
    justify-content: center;
}

.preview {
    height: 600px;
    width: 600px;
    background: rgba(0,0,0,0.5);
}

.title {
    padding: 6%;
    background: linear-gradient(320deg, blue, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}