

.Background {
    height: 700px;
    width: 100%;
    background: linear-gradient(320deg, blue, lightblue);
    position: absolute;
    top: 0;
    transform: skewY(-12deg);
    transform-origin: 0 0;
    z-index: -1;
}

.body {
    font-family: 'Lato', sans-serif;
}