

.Home {
    height: 100vw;
    width: 100%;
    background-image: url("./assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Background {
    height: 700px;
    width: 100vw;
    background-size: cover;
    background: linear-gradient(320deg, blue, green) no-repeat;
    position: absolute;
    top: 0;
    transform: skewY(-12deg);
    transform-origin: 0;
}