

.Home {
    height: 100vw;
    width: 100%;
    background-image: url("./assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Background {
    float: right;

    width: 50vw !important;
    background: rgba(0,0,0,0.6);
    justify-content: center;
}